 <h2>
  We played paper!
  </h2>

  <h2>
  They played <%= @comp_move %>!
  </h2>

  <h2>
  We <%= @outcome %>!
  </h2> 

  <p>
  <a href="https://friendly-goldfish-wr7pv7qpxjjjh55v4-3000.app.github.dev" target="_blank">Rules</a>
  </p> 
